<header class="mx-[10px] py-[20px]">

    <h1 class="flex justify-center py-[20px] font-black text-4xl md:text-6xl dark:text-neutral-200">Elena López Félix</h1>
    <p class="flex justify-center pb-[20px] text-xl md:text-3xl dark:text-neutral-200">Front-end Developer</p>

</header>