---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hola, soy Elena López Félix">

	<main class="flex flex-col justify-center items-center px-[20px] py-[40px]text-neutral-200">

        <div class="mx-[30px] md:mx-[50px] my-[20px] px-[10px] md:px-[50px] py-[30px] md:py-[50px] border-double rounded-3xl text-justify">

            <h2 class="py-[10px] text-5xl text-amber-400 text-center">¡Hey!, bienvenido a mi Portfolio</h2>
            
            <p class="mx-[500px] text-neutral-200 text-xl">Hola, soy Elena López Félix y este es mi portfolio. 
                Podrás encontrar información relevante sobre mí como por ejemplo:
                Mis habilidades, mis estudios, los proyectos que he ido realizando en este tiempo.
            </p>
        </div>
        
    </main>
</Layout>
