---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hola, soy Elena López Félix">

	<main class="flex flex-col justify-center items-center px-[20px] py-[40px] dark:text-neutral-200">

        <div class="border-2 border-amber-300 px-[30px] md:px-[50px] py-[20px] border-double rounded-3xl text-justify">

            <h2 class="py-[10px] text-2xl">¿Quién soy?</h2>
            
            <p>Hola, soy Elena López Félix y soy estudiante del 
                Ciclo Formativo de Grado Superior de
                Desarrollo de Aplicaciones
                Multiplataforma comprometida y
                motivada para poder ofrecer mis
                servicios en el sector de la
                informática. Preparada para
                utilizar mis habilidades y pasión.
                Tecnológicamente hábil y
                autodidacta. Aporto una actitud
                positiva, trabajadora y con
                voluntad de aprender nuevos
                programas
            </p>
        </div>
        
    </main>
</Layout>
