---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Proyectos">
    <main class="justify-center items-center gap-5 grid md:grid-cols-2 px-[20px] py-[40px] h-full dark:text-neutral-200"> 
        <!--SIMÓN DICE -->
        <a href="https://github.com/elenalf/Simon_Dice" class="transfrom hover:scale-105">
            <div class="border-2 border-amber-300 px-[30px] md:px-[50px] py-[20px] border-double rounded-3xl w-[auto] h-full text-justify" >
                <div class="flex items-center space-x-5">
                    <h2 class="py-[10px] text-2xl">Simón Dice</h2> 
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50" class="dark:fill-white size-8">
                        <path d="M 28.1875 -0.00390625 C 30.9375 6.359375 18.320313 10.289063 17.152344 15.59375 C 16.074219 20.460938 24.640625 26.121094 24.644531 26.121094 C 23.34375 24.105469 22.402344 22.441406 21.097656 19.304688 C 18.890625 14 34.53125 9.203125 28.1875 -0.00390625 Z M 36.550781 8.8125 C 36.550781 8.8125 25.503906 9.511719 24.941406 16.582031 C 24.691406 19.730469 27.84375 21.410156 27.9375 23.703125 C 28.007813 25.570313 26.050781 27.128906 26.050781 27.128906 C 26.050781 27.128906 29.601563 26.460938 30.714844 23.605469 C 31.945313 20.4375 28.328125 18.273438 28.691406 15.738281 C 29.042969 13.3125 36.550781 8.8125 36.550781 8.8125 Z M 39.230469 25.144531 C 38.074219 25.09375 36.789063 25.476563 35.625 26.3125 C 37.90625 25.824219 39.835938 27.21875 39.835938 28.828125 C 39.835938 32.453125 34.597656 35.878906 34.597656 35.878906 C 34.597656 35.878906 42.707031 34.953125 42.707031 29 C 42.707031 26.539063 41.152344 25.234375 39.230469 25.144531 Z M 19.183594 25.152344 C 19.183594 25.152344 9.0625 25.015625 9.0625 27.878906 C 9.0625 30.871094 22.316406 31.082031 31.78125 29.238281 C 31.78125 29.238281 34.308594 27.507813 34.980469 26.863281 C 28.777344 28.128906 14.621094 28.296875 14.621094 27.203125 C 14.621094 26.191406 19.183594 25.152344 19.183594 25.152344 Z M 16.738281 30.722656 C 15.1875 30.722656 12.871094 31.921875 12.871094 33.078125 C 12.871094 35.402344 24.5625 37.195313 33.21875 33.796875 L 30.222656 31.960938 C 24.355469 33.839844 13.539063 33.238281 16.738281 30.722656 Z M 18.179688 35.921875 C 16.050781 35.921875 14.671875 37.234375 14.671875 38.203125 C 14.671875 41.1875 27.378906 41.488281 32.414063 38.453125 L 29.214844 36.417969 C 25.453125 38.007813 16.007813 38.222656 18.179688 35.921875 Z M 11.089844 38.625 C 7.621094 38.554688 5.367188 40.113281 5.367188 41.40625 C 5.363281 48.28125 40.890625 47.949219 40.890625 40.921875 C 40.890625 39.757813 39.515625 39.203125 39.019531 38.9375 C 41.921875 45.65625 9.96875 45.136719 9.96875 41.171875 C 9.96875 40.269531 12.3125 39.382813 14.492188 39.808594 L 12.644531 38.757813 C 12.101563 38.675781 11.582031 38.632813 11.089844 38.625 Z M 44.636719 43.25 C 39.234375 48.367188 25.546875 50.234375 11.78125 47.074219 C 25.542969 52.703125 44.566406 49.535156 44.636719 43.25 Z"></path>
                    </svg>
                </div>
                <p>El juego te permite jugar una partida de Simón Dice, te permite también ver los 10 mejores jugadores con sus nombres y puntuaciones, ver el o los jugadores con la máxima puntuación.</p>
    
            </div>
        </a>
        

        <!--MÁQUINA VIRTUAL -->
        <a href="https://github.com/elenalf/MAQUINA_VIRTUAL" class="transfrom hover:scale-105">
            <div class="border-2 border-amber-300 px-[30px] md:px-[50px] py-[20px] border-double rounded-3xl w-[auto] h-full text-justify">
                <div class="flex items-center space-x-5">
                    <h2 class="py-[10px] text-2xl">Máquina Virtual</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50" class="dark:fill-white size-8">
                        <path d="M 28.1875 -0.00390625 C 30.9375 6.359375 18.320313 10.289063 17.152344 15.59375 C 16.074219 20.460938 24.640625 26.121094 24.644531 26.121094 C 23.34375 24.105469 22.402344 22.441406 21.097656 19.304688 C 18.890625 14 34.53125 9.203125 28.1875 -0.00390625 Z M 36.550781 8.8125 C 36.550781 8.8125 25.503906 9.511719 24.941406 16.582031 C 24.691406 19.730469 27.84375 21.410156 27.9375 23.703125 C 28.007813 25.570313 26.050781 27.128906 26.050781 27.128906 C 26.050781 27.128906 29.601563 26.460938 30.714844 23.605469 C 31.945313 20.4375 28.328125 18.273438 28.691406 15.738281 C 29.042969 13.3125 36.550781 8.8125 36.550781 8.8125 Z M 39.230469 25.144531 C 38.074219 25.09375 36.789063 25.476563 35.625 26.3125 C 37.90625 25.824219 39.835938 27.21875 39.835938 28.828125 C 39.835938 32.453125 34.597656 35.878906 34.597656 35.878906 C 34.597656 35.878906 42.707031 34.953125 42.707031 29 C 42.707031 26.539063 41.152344 25.234375 39.230469 25.144531 Z M 19.183594 25.152344 C 19.183594 25.152344 9.0625 25.015625 9.0625 27.878906 C 9.0625 30.871094 22.316406 31.082031 31.78125 29.238281 C 31.78125 29.238281 34.308594 27.507813 34.980469 26.863281 C 28.777344 28.128906 14.621094 28.296875 14.621094 27.203125 C 14.621094 26.191406 19.183594 25.152344 19.183594 25.152344 Z M 16.738281 30.722656 C 15.1875 30.722656 12.871094 31.921875 12.871094 33.078125 C 12.871094 35.402344 24.5625 37.195313 33.21875 33.796875 L 30.222656 31.960938 C 24.355469 33.839844 13.539063 33.238281 16.738281 30.722656 Z M 18.179688 35.921875 C 16.050781 35.921875 14.671875 37.234375 14.671875 38.203125 C 14.671875 41.1875 27.378906 41.488281 32.414063 38.453125 L 29.214844 36.417969 C 25.453125 38.007813 16.007813 38.222656 18.179688 35.921875 Z M 11.089844 38.625 C 7.621094 38.554688 5.367188 40.113281 5.367188 41.40625 C 5.363281 48.28125 40.890625 47.949219 40.890625 40.921875 C 40.890625 39.757813 39.515625 39.203125 39.019531 38.9375 C 41.921875 45.65625 9.96875 45.136719 9.96875 41.171875 C 9.96875 40.269531 12.3125 39.382813 14.492188 39.808594 L 12.644531 38.757813 C 12.101563 38.675781 11.582031 38.632813 11.089844 38.625 Z M 44.636719 43.25 C 39.234375 48.367188 25.546875 50.234375 11.78125 47.074219 C 25.542969 52.703125 44.566406 49.535156 44.636719 43.25 Z"></path>
                    </svg>
                </div>
                <p>Este proyecto trata sobre la creación de una máquina virtual simple en la que el usuario podrá indicar por consola las instrucciones que se desean llevar a cabo.</p>

            </div>
        </a>
        

        <!--JUEGO DE LAS PAREJAS -->
        <a href="https://github.com/elenalf11/CouplesGames" class="transfrom hover:scale-105">
            <div class="border-2 border-amber-300 px-[30px] md:px-[50px] py-[20px] border-double rounded-3xl w-[auto] h-full text-justify">
                <div class="flex items-center space-x-5">
                    <h2 class="py-[10px] text-2xl">Juego de las parejas</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 30 30" class="dark:fill-white size-8">
                        <path d="M 13 3 C 10.791 3 9 4.791 9 7 L 9 8 L 14 8 C 14.552 8 15 8.448 15 9 C 15 9.552 14.552 10 14 10 L 9 10 L 8 10 L 7 10 C 4.791 10 3 11.791 3 14 L 3 18 C 3 20.209 4.791 22 7 22 L 8 22 L 8 17 C 8 15.346 9.346 14 11 14 L 19 14 C 19.552 14 20 13.552 20 13 L 20 7 C 20 4.791 18.209 3 16 3 L 13 3 z M 12 5 C 12.552 5 13 5.448 13 6 C 13 6.552 12.552 7 12 7 C 11.448 7 11 6.552 11 6 C 11 5.448 11.448 5 12 5 z M 22 8 L 22 13 C 22 14.654 20.654 16 19 16 L 11 16 C 10.448 16 10 16.448 10 17 L 10 23 C 10 25.209 11.791 27 14 27 L 17 27 C 19.209 27 21 25.209 21 23 L 21 22 L 16 22 C 15.448 22 15 21.552 15 21 C 15 20.448 15.448 20 16 20 L 21 20 L 22 20 L 23 20 C 25.209 20 27 18.209 27 16 L 27 12 C 27 9.791 25.209 8 23 8 L 22 8 z M 18 23 C 18.552 23 19 23.448 19 24 C 19 24.552 18.552 25 18 25 C 17.448 25 17 24.552 17 24 C 17 23.448 17.448 23 18 23 z"></path>
                    </svg>
                </div>
                <p>En este repositorio nos encontramos el conocido juego de encontrar las parejas en un tablero. Es un juego muy útil para mejorar la memoria</p>

            </div>
        </a>
        

        <!--PORTFOLIO PERSONAL -->
        <a href="https://github.com/elenalf/PortFolio_Personal" class="transfrom hover:scale-105">
            <div class="border-2 border-amber-300 px-[30px] md:px-[50px] py-[20px] border-double rounded-3xl w-[auto] h-full text-justify">
                <div class="flex items-center space-x-5">
                    <h2 class="py-[10px] text-2xl">Portfolio personal</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 64 64" class="size-8">
                        <linearGradient id="gMG_mkMd2oq4lWjgJJZtFa_lckHFUP7nJhG_gr1" x1="32.125" x2="32.125" y1="44.574" y2="60.885" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#8ab4ff"></stop><stop offset="1" stop-color="#e492ff"></stop></linearGradient><path fill="url(#gMG_mkMd2oq4lWjgJJZtFa_lckHFUP7nJhG_gr1)" d="M32,47c-4.272,0-7.909-0.94-9.341-2.259C22.336,47.076,22.248,51.248,25,54	c0,0,0.615-3.824,3.5-3c1.75,0.5,1.25,3,1.25,4.875C29.75,56.875,30,59,34,61c0,0-2-5,4-8c4.198-2.099,3.989-6.15,3.486-8.397	C40.165,45.995,36.421,47,32,47z"></path><linearGradient id="gMG_mkMd2oq4lWjgJJZtFb_lckHFUP7nJhG_gr2" x1="32" x2="32" y1="2.824" y2="62.426" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#1a6dff"></stop><stop offset="1" stop-color="#c822ff"></stop></linearGradient><path fill="url(#gMG_mkMd2oq4lWjgJJZtFb_lckHFUP7nJhG_gr2)" d="M51,42c-0.099,0-0.197-0.015-0.294-0.044l-13-4c-0.338-0.104-0.596-0.379-0.679-0.723	l-5.103-21.259L25.963,37.27c-0.09,0.319-0.332,0.574-0.646,0.679l-12,4c-0.355,0.12-0.745,0.029-1.012-0.229	c-0.268-0.26-0.369-0.646-0.264-1.004l11-37C23.168,3.291,23.558,3,24,3h16c0.442,0,0.832,0.291,0.959,0.715l11,37	c0.104,0.354,0.007,0.736-0.255,0.996C51.514,41.898,51.26,42,51,42z M38.839,36.212l10.671,3.283L39.254,5H24.746l-10.24,34.444	l9.675-3.226L30,15.436c0.249-0.891,1.055-1.451,1.963-1.461c0.925,0.018,1.691,0.634,1.907,1.533L38.839,36.212z"></path><linearGradient id="gMG_mkMd2oq4lWjgJJZtFc_lckHFUP7nJhG_gr3" x1="32.126" x2="32.126" y1="2.824" y2="62.426" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#1a6dff"></stop><stop offset="1" stop-color="#c822ff"></stop></linearGradient><path fill="url(#gMG_mkMd2oq4lWjgJJZtFc_lckHFUP7nJhG_gr3)" d="M33.996,61.999c-0.151,0-0.303-0.034-0.443-0.104c-3.187-1.594-4.803-3.619-4.803-6.02	c0-0.351,0.017-0.722,0.033-1.099c0.069-1.535,0.07-2.636-0.558-2.814c-0.593-0.171-0.918-0.027-1.11,0.094	c-0.718,0.457-1.063,1.703-1.128,2.104c-0.06,0.37-0.322,0.677-0.68,0.792c-0.356,0.118-0.749,0.021-1.015-0.244	c-3.074-3.074-2.964-7.649-2.624-10.103c0.051-0.369,0.303-0.679,0.652-0.805c0.35-0.125,0.741-0.047,1.016,0.206	C24.379,44.966,27.534,46,32,46c4.453,0,7.777-1.049,8.76-2.086c0.254-0.268,0.635-0.373,0.991-0.275s0.629,0.385,0.71,0.745	c0.961,4.288-0.502,7.754-4.014,9.511c-4.981,2.49-3.681,6.313-3.517,6.74c0.148,0.385,0.046,0.825-0.26,1.103	C34.482,61.909,34.24,61.999,33.996,61.999z M27.724,49.885c0.34,0,0.692,0.051,1.051,0.153c2.196,0.628,2.087,3.056,2.007,4.828	c-0.016,0.346-0.031,0.687-0.031,1.009c0,0.476,0,1.736,1.946,3.177c-0.002-2.017,0.813-4.924,4.856-6.946	c2.722-1.361,3.322-3.673,3.183-5.761C38.738,47.376,35.556,48,32,48c-3.382,0-6.477-0.579-8.489-1.537	c-0.062,1.66,0.14,3.727,1.153,5.47c0.308-0.578,0.75-1.165,1.378-1.564C26.547,50.047,27.116,49.885,27.724,49.885z"></path><linearGradient id="gMG_mkMd2oq4lWjgJJZtFd_lckHFUP7nJhG_gr4" x1="32.023" x2="32.023" y1="6.948" y2="36.278" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#8ab4ff"></stop><stop offset="1" stop-color="#e492ff"></stop></linearGradient><path fill="url(#gMG_mkMd2oq4lWjgJJZtFd_lckHFUP7nJhG_gr4)" d="M37.762,7H26.238l-8.72,29.332l5.023-1.675l5.533-19.76c0.483-1.728,2.037-2.903,3.868-2.922	l0.03,0l0.03,0.001c1.85,0.035,3.382,1.267,3.814,3.066l4.703,19.595l6.011,1.849L37.762,7z"></path>
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48" class="size-8">
                        <linearGradient id="iOmQfjoCC4Hw6zVwRjSDha_x7XMNGh2vdqA_gr1" x1="21.861" x2="25.703" y1="8.237" y2="36.552" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#00c1e0"></stop><stop offset="1" stop-color="#009bb8"></stop></linearGradient><path fill="url(#iOmQfjoCC4Hw6zVwRjSDha_x7XMNGh2vdqA_gr1)" d="M24,9.604c-5.589,0-9.347,2.439-11.276,7.318c-0.2,0.505,0.417,0.92,0.816,0.551 c2.035-1.882,4.322-2.505,6.86-1.871c1.826,0.456,3.131,1.781,4.576,3.247C27.328,21.236,30.051,24,36,24 c5.589,0,9.348-2.44,11.276-7.319c0.2-0.505-0.417-0.92-0.816-0.551c-2.035,1.882-4.322,2.506-6.86,1.872 c-1.825-0.456-3.13-1.781-4.575-3.247C32.672,12.367,29.948,9.604,24,9.604L24,9.604z M12,24c-5.589,0-9.348,2.44-11.276,7.319 c-0.2,0.505,0.417,0.92,0.816,0.551c2.035-1.882,4.322-2.506,6.86-1.871c1.825,0.457,3.13,1.781,4.575,3.246 c2.353,2.388,5.077,5.152,11.025,5.152c5.589,0,9.348-2.44,11.276-7.319c0.2-0.505-0.417-0.92-0.816-0.551 c-2.035,1.882-4.322,2.506-6.86,1.871c-1.826-0.456-3.131-1.781-4.576-3.246C20.672,26.764,17.949,24,12,24L12,24z"></path>
                    </svg>
                </div>
                <p>En este repositorio nos encontramos mi portfolio personal, donde podemos ver todas mis proyectos y mis trabajos en el mundo digital.</p>
            </div>
        </a>
        
    </main>
</Layout>