---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sobre mí">
    <main class="justify-center items-center gap-5 grid md:grid-cols-2 px-[20px] py-[40px] h-full dark:text-neutral-200">

        <div class="border-2 border-amber-300 px-[30px] md:px-[50px] py-[20px] border-double rounded-3xl w-[auto] h-full text-justify">

            <h2 class="py-[10px] text-2xl">¿Quién soy?</h2>
            
            <p>Hola, soy Elena López Félix y soy estudiante del 
                Ciclo Formativo de Grado Superior de
                Desarrollo de Aplicaciones
                Multiplataforma comprometida y
                motivada para poder ofrecer mis
                servicios en el sector de la
                informática. Preparada para
                utilizar mis habilidades y pasión.
                Tecnológicamente hábil y
                autodidacta. Aporto una actitud
                positiva, trabajadora y con
                voluntad de aprender nuevos
                programas
            </p>
        </div>

        <div class="border-2 border-amber-300 px-[30px] md:px-[50px] py-[20px] border-double rounded-3xl w-[auto] h-full text-justify">
            <h2 class="py-[10px] text-2xl">¿Qué he estudiado?</h2>

            <p class="px-12 font-semibold dark:text-neutral-200">Desarrollo de Aplicaciones Multiplataforma</p>
            <p class="px-12 pb-5 font-thin text-neutral-600 text-sm dark:text-neutral-200">Colegio Litterator (2023 - Actualidad)</p>

            <p class="px-12 font-semibold dark:text-neutral-200">Bachillerato Ciencias de la Salud</p>
            <p class="px-12 pb-5 font-thin text-neutral-600 text-sm dark:text-neutral-200">Colegio Litterator (2021 - 2023)</p>

            <p class="px-12 font-semibold dark:text-neutral-200">Educación Secundaria Obligatoria Científico</p>
            <p class="px-12 pb-5 font-thin text-neutral-600 text-sm dark:text-neutral-200">Colegio Litterator (2017 - 2021)</p>
        </div >
        
    </main>
</Layout>